DATABASE_URL="file:./dev.db"
JWT_SECRET="change-this-to-a-long-random-string"
JWT_EXPIRES_IN="7d"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
PORT=4000
GOOGLE_CLIENT_ID=860978730974-k756r8lcl3tgp54fq65900f2unakvt68.apps.googleusercontent.com